<h1>hello world</h1>

<form action="users_url" method="POST">
<label>Username:
<input type="text" name="user[username]" value="">
</label>
<br>
<label for="password">Password:
<input type="password" id="password" name="user[password]" value="">
</label>
<br>
<input type="submit" value="PUSH ME">
<br>
<a href="users_url">sign up</a>
<a href="sessions_url">sign in</a>

</form>